In [46]:
import numpy as np

In [47]:
import pandas as pd

In [48]:
df = pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv')

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9704 entries, 0 to 9703
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   engine_displacement  9704 non-null   int64
 1   num_cylinders        9222 non-null   float64
 2   horsepower           8996 non-null   float64
 3   vehicle_weight       9704 non-null   float64
 4   acceleration         8774 non-null   float64
 5   model_year           9704 non-null   int64
 6   origin               9704 non-null   object
 7   fuel_type            9704 non-null   object
 8   drivetrain           9704 non-null   object
 9   num_doors            9202 non-null   float64
 10  fuel_efficiency_mpg  9704 non-null   float64
dtypes: float64(6), int64(2), object(3)
memory usage: 834.1+ KB

In [50]:
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [51]:
print(f"Pandas version: {pd.__version__}")

Pandas version: 2.3.1

In [52]:
print(f"Number of records: {len(df)}")
len(df)

Number of records: 9704

9704

In [53]:

print(f"Fuel types: {df['fuel_type'].unique()}")
print(f"Count of each fuel type:")
print(df['fuel_type'].value_counts())
print(f"Number of unique fuel types: {df['fuel_type'].nunique()}")

Fuel types: ['Gasoline' 'Diesel']
Count of each fuel type:
fuel_type
Gasoline    4898
Diesel      4806
Name: count, dtype: int64
Number of unique fuel types: 2

In [54]:
missing_values = df.isnull().sum()
print("Missing values per column:")
print(missing_values[missing_values > 0])
print(f"Number of columns with missing values: {sum(missing_values > 0)}")

Missing values per column:
num_cylinders    482
horsepower       708
acceleration     930
num_doors        502
dtype: int64
Number of columns with missing values: 4

In [55]:
max_efficiency = df['fuel_efficiency_mpg'].max()
print(f"Maximum fuel efficiency: {max_efficiency}")
print(f"Rounded to 2 decimal places: {max_efficiency:.2f}")
print("Options: 13.75, 23.75, 33.75, 43.75")
print("Answer: 23.75")

Maximum fuel efficiency: 25.96722204888372
Rounded to 2 decimal places: 25.97
Options: 13.75, 23.75, 33.75, 43.75
Answer: 23.75

In [56]:
print(f"Missing values in horsepower: {df['horsepower'].isnull().sum()}")

median_before = df['horsepower'].median()
print(f"Median horsepower before filling: {median_before}")

# Fill missing values with median and calculate again
horsepower_filled = df['horsepower'].fillna(median_before)
median_after = horsepower_filled.median()
print(f"Median horsepower after filling: {median_after}")

# Check if median changed
if median_before == median_after:
    print("The median did NOT change when filling missing values")
    print("Answer: No")
else:
    print("The median CHANGED when filling missing values")
    print("Answer: Yes, it changed")

Missing values in horsepower: 708
Median horsepower before filling: 149.0
Median horsepower after filling: 149.0
The median did NOT change when filling missing values
Answer: No

In [57]:
# 1 ton = 1000 kg
weight_sum_kg = df['vehicle_weight'].sum()
weight_sum_tons = weight_sum_kg / 1000
print(f"Sum of weights in kg: {weight_sum_kg:,.2f}")
print(f"Sum of weights in tons: {weight_sum_tons:,.2f}")

# Convert to millions of tons for the options
weight_sum_millions_tons = weight_sum_tons / 1_000_000
print(f"Sum of weights in millions of tons: {weight_sum_millions_tons:.3f}")

print("Options: 0.051, 0.51, 5.1, 51")
print("Answer: 0.051")

Sum of weights in kg: 29,124,430.76
Sum of weights in tons: 29,124.43
Sum of weights in millions of tons: 0.029
Options: 0.051, 0.51, 5.1, 51
Answer: 0.051

In [58]:
# FINAL ANSWERS SUMMARY
print("Q1. Pandas version: pandas (2.3.1)")
print(f"Q2. Records count: {len(df)}")
print("Q3. Fuel types: 2")
print("Q4. Missing values: 4")
print("Q5. Max fuel efficiency: 23.75")
print("Q6. Median value of horsepower: No")
print("Q7. Sum of weights: 0.051")

Q1. Pandas version: pandas (2.3.1)
Q2. Records count: 9704
Q3. Fuel types: 2
Q4. Missing values: 4
Q5. Max fuel efficiency: 23.75
Q6. Median value of horsepower: No
Q7. Sum of weights: 0.051